$font-family: 'Roboto', sans-serif;
$background-color: #0c253f;
$text-color: #fff;
$accent-color: #34495e;
$secondary-color: #2c3e50;
$shadow-color: rgb(13, 22, 41);
$border-radius: 20px;
$form-border: 4px groove;
$footer-height: 200px;
$footer-bg-color: #974c0b;
$background-image: url(./Immagini/SFONDO.png);
